bokeh==2.4.1
chime==0.5.3
keras==2.9.0
matplotlib==3.5.1
nltk==3.7
numpy
pafy==0.5.5
pandas==1.4.3
Pillow==9.2.0
pytube==12.1.0
requests==2.26.0
scikit_image==0.19.3
stqdm
streamlit==1.10.0
streamlit_player==0.1.5
toml==0.10.2
youtube_search_python==1.6.6
scrapetube==2.3.1
git+https://github.com/ludwig-ai/ludwig.git
ludwig
youtube-dl
scikit-learn
thinc==8.1.0
pydantic==1.8.2
requests-html==0.10.0
beautifulsoup4==4.9.3
bs4==0.0.1
pipwin==0.5.2
pandas-profiling==3.5.0
scipy==1.9.0
tqdm==4.64.0